@import url('https://fonts.googleapis.com/css2?family=Michroma&display=swap');

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: darkslategray;
  color: white;
  text-transform: uppercase;
  cursor: none;
  font-family: 'Michroma', sans-serif;
  font-size: 2rem;
}

.cursor {
  background-color: black;
  height: 32px;
  width: 32px;
  border-radius: 50%;
  position: fixed;
  top: 0;
  left: 0;
  pointer-events: none;
}
